
 
{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="container my-3 my-sm-5">
    <div class="row">
        <div class="col-12 col-lg-8">
<article class="mb-3">
    <header class="mb-2">
        <a href="#0" class="badge badge-primary">Category</a>
        <h1>{{ post.title }}</h1>
        <div><a href="#0">Tanu Agrawal</a></div>
        {% if post.published_date %}
            
               <div class="small">Posted on: {{ post.published_date }}</div>
        {% endif %}
        {% if user.is_authenticated %}
         <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i class="fa fa-pencil"></i></a>
         {% endif %}
        <div class="small"><span class="badge badge-primary">13 likes</span><span class="badge badge-primary">{{ post.comments.count }} Comments</span></div>
        <div class="small">
        <a href="#0" class="badge badge-secondary">#tag</a>
        <a href="#0" class="badge badge-secondary">#tag</a>
        <a href="#0" class="badge badge-secondary">#tagtag</a>
        <a href="#0" class="badge badge-secondary">#tag</a></div>

 

            
        
        </header>

        <section id="main mb-3">
            <br>
            <p class="text-dark">{{ post.text|linebreaksbr }}</p>
        </section>
        <section id="comments" class="small">
            <button type="button" class="btn btn-lg btn-primary mb-3">Like</button>
            <h2>Comments</h2>
             {% for comment in post.comments.all %}
                 
            <div class="media">
                <img src="https://c.disquscdn.com/next/embed/assets/img/noavatar92.7b2fde640943965cc88df0cdee365907.png" class="mr-3">
                <div class="media-body">
                    <strong>{{ comment.user }}</strong><p>  (Posted on: {{ comment.created_date }})</p><p>{{ comment.text|linebreaks }}</p></div>
                </div>
                <hr>
             {% empty %}
             <p>No comments here yet:(</p>
             {% endfor %}   
                
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            
          
          


        </article>
    </div>
    <div class="col-12 col-lg-4">
        <aside>
            <h2 class="mb-3 text-center text-primary">About Me</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                    <img src="{% static 'images/me.jpg' %}" class="img-float rounded-circle">
                </div>
                   <h5 class="text-center"><strong>TANU AGRAWAL</strong></h5>
                   <p>I am Tanu Agrawal currently pusuing for my bachelor's degree in Computer Science and Enginering from B.I.E.T. jhansi</p>
                   <hr>
               </div>
               <div class="card-footer">
                <section class="contact">
      <h4 class="text-center">CONTACT ME</h4>
      <div class="row my-3">
        <div class="col-12 col-lg-3">
      
                   

           <a href="http://github.com/TanuAgrawal123"><i class="fa fa-github"></i></a></div>
        
         <div class="col-12 col-lg-3"><a href="https://twitter.com/TanuAgr48102256"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        
        
          <div class="col-12 col-lg-3"><a href="https://in.linkedin.com/in/tanu-agrawal-619515172"><i class="fa fa-linkedin"></i></a></div>
        
        
          <div class="col-12 col-lg-3"><a href="mailto:tanuagrawal1304@gmail.com"><i class="fa fa-envelope-o"></i></div></a>
        
      </section>
      <div class="copyright">
      <p class="text-center text-secondary">2019 &copy; Tanu Agrawal</p>
    </div>
                   

                </div>
            </div>
        </aside>
    </div>
    </div>


       
        
        </div>
{% endblock %}