{% extends 'blog/base.html' %}

{% block content %}
<style>
.jumbotron{
        background-image:url("static/images/background.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
    }
</style>
<br>
<section id="section-top" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
                <div class="container text-center">
                    <h1 class="display-1 text-primary text-uppercase">My Personal blog</h1>
                    <p class="display-4 d-none d-sm-block">Contact Me</p>
                    
                    <a href="#" class="btn btn-large btn-primary"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</a>
                    <a href="#" class="btn btn-large btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
                </div>
            </section>

<article>
    <header>
        <a href="#0" class="batch batch-primary">Category</a> 
    </header>
    </article>


            {% for post in posts %}
            <div class="card text-dark border-info shadow p-3 
            ">
                

                <div class="post">
                    <div card="card-body">

                    <h2><a  class="card-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    
                    <p class="card-text">{{ post.text|linebreaksbr }}</p>
                
                <br>
                
                     <div class="date">
                  <p class="card-subtitle">published: {{ post.published_date }}</p>
                    </div>
                </div>

            </div>
        </div>
        
        <br>
            {% endfor %}
        
     <div class="pagination">
        
         <span class="step-links">
       
     {% if posts.has_previous %}
     <a class="btn btn-outline-primary" href="?page=1">&laquo;First</a>
     <a class="btn btn-outline-primary" href="?page={{posts.previous_page_number}}">Previous</a>
     {% endif %}
     <span class="step-link">
     <a class="btn btn-primary" href="#">current</a>
 </span>
    
     {% if posts.has_next %}
            <a  class="btn btn-outline-primary" href="?page={{ posts.next_page_number }}">next</a>
            <a class="btn btn-outline-primary" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
   
    </div>

  {% endblock %}          

