{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<style>
.jumbotron{
        background-image:url("static/images/background.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
    }
</style>

<section id="section-top" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
                <div class="container text-center">
                    <h1 class="display-1 text-primary text-uppercase">My Personal blog</h1>
                    <p class="display-4 d-none d-sm-block">Contact Me</p>
                    
                    <a href=https://in.linkedin.com/in/tanu-agrawal-619515172" class="btn btn-large btn-primary"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</a>
                    <a href="https://twitter.com/TanuAgr48102256" class="btn btn-large btn-primary"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
                </div>
            </section>
   
            <div class="container">

<div class="row">
    <div class="col-12 col-lg-8">



            {% for post in posts %}
            <div class="card text-dark border-info shadow p-3 
            ">
                

               
                    <div card="card-body">

                    <h2><a  class="card-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    
                    <p class="card-text">{{ post.text|linebreaksbr }}</p>
                
                <br>
                
                   
                  <p class="card-subtitle">published: {{ post.published_date }}</p>
                    
            </div>
        </div>
        
        <br>
            {% endfor %}
        
     <div class="pagination">
        
         <span class="step-links">
       
     {% if posts.has_previous %}
     <a class="btn btn-outline-primary" href="?page=1">&laquo;First</a>
     <a class="btn btn-outline-primary" href="?page={{posts.previous_page_number}}">Previous</a>
     {% endif %}
     <span class="step-link">
     <a class="btn btn-primary" href="#">current</a>
 </span>
    
     {% if posts.has_next %}
            <a  class="btn btn-outline-primary" href="?page={{ posts.next_page_number }}">next</a>
            <a class="btn btn-outline-primary" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
   
    </div>
</div>
 <div class="col-12 col-lg-4">
        <aside>
            <h2 class="mb-3 text-center text-primary">About Me</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="text-center">
                    <img src="{% static 'images/me.jpg' %}" class="img-float rounded-circle">
                </div>
                   <h5 class="text-center"><strong>TANU AGRAWAL</strong></h5>
                   <p> I am Tanu Agrawal currently pusuing for my bachelor's degree in Computer Science and Enginering from B.I.E.T. jhansi</p>
                   <hr>
               </div>
               <div class="card-footer">
                <section class="contact">
      <h4 class="text-center">CONTACT ME</h4>
      <div class="row my-3">
        <div class="col-12 col-lg-3">
      
                   

           <a href="http://github.com/TanuAgrawal123"><i class="fa fa-github"></i></a></div>
        
         <div class="col-12 col-lg-3"><a href="https://twitter.com/TanuAgr48102256"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        
        
          <div class="col-12 col-lg-3"><a href="https://in.linkedin.com/in/tanu-agrawal-619515172"><i class="fa fa-linkedin"></i></a></div>
        
        
          <div class="col-12 col-lg-3"><a href="mailto:tanuagrawal1304@gmail.com"><i class="fa fa-envelope-o"></i></div></a>
        
      </section>
      <div class="copyright">
      <p class="text-center text-secondary">2019 &copy; Tanu Agrawal</p>
    </div>
                   

                </div>
            </div>
        </aside>
    </div>
    </div>

</div>
</div>

  {% endblock %}          

